<div class="container-fluid">

    <div class="container main-form">
        <div class="row">
            <div class="col">
                <h1 class="text-center header">REPO-EYE</h1>
                <h2 class="text-center head-info">Get details about github repository or users easily</h2>
                <form action="/" method="post">

                    <div class="form-group">
                        <label for="SearchTextExapmle" class="searchtxt">Enter <%= type %> name</label>
                        <input type="text" class="form-control form-control-lg input-lg" placeholder="torvalds/linux" name="repoUrl">

                    </div>


                    <button type="submit" class="btn btn-lg generate-btn" id="generate-button">Generate</button>


                </form>
            </div>
        </div>


    </div>

</div>